# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional flow static type checking directory
.flow/

# Optional Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

# OS-specific files
.DS_Store
Thumbs.db

# log files
error.log